<html>
    <head>
        <title>
            HOME
        </title>
    </head>

    <body>
        <h1>Checking</h1>>
       
            

               
                <!-- a=[2,3,4,5,6]     employees=[['name', 'email'], ['name','email']
                for i in a:
                    print(a)   {{ employee.ename  }} -->
        {% for i in Registration %}        
         <h1>      {{ i }}
          
         </h1>
        {% endfor %}

        
    <h3>
        ?
    </h3>
    </body>
</html>